@media (max-width: 688px) {

    body {
        background: hsl(257, 40%, 49%) url(../images/bg-mobile.svg) center top no-repeat;
    }

    .header .header-container {
        margin-bottom: 20px;
        padding: 30px 30px
    }

    .header .header-container img {
        width: 55%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 330px;
        height: auto;

    }

    .container .info {
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .container .info .description {
        text-align: center;
        margin-left: 0;
    }

    .container .info .title {
        font-size: 25px;
        text-align: center;
    }

    .container .info .register-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
        padding: 15px 60px;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
    }

    .footer .social a {
        font-size: 16px;
    }
}