body {
    background: hsl(257, 40%, 49%) url(../images/bg-desktop.svg) center center no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 17px;
}

.header .header-container {
    margin-bottom: 80px;
    padding: 50px;
}

.header .header-container img {
    width: 230px;
}

.container .info .title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    padding: 25px;
}

.container img {
    width: auto;
}

.container .info {
    padding: 30px;
    width: 600px;
}

.container .info .description {
    margin-left: 30px;
    margin-bottom: 40px;
    line-height: 25px;
    text-align: justify;
}

.container {
    display: flex;
    justify-content: center;
}

.container .info .register-btn {
    background-color: #fff;
    padding: 20px 70px;
    border-radius: 30px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    color: hsl(257, 40%, 49%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.container .info .register-btn:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
}

.footer {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer .social {
    font-size: 20px;
    padding: 30px;
}

/* sem isso não consegui colocar o ícone do face total redondo */
.footer .social .fa-brands.fa-facebook-f {
    padding: 4px 4px;
}

.footer .social a {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 15px;
    border: solid 1px #fff;
    transition: 0.3s;
}

.footer .social a:hover {
    color: hsl(300, 69%, 71%);
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 15px;
    border: solid 1px hsl(300, 69%, 71%);
}